@use '../../assets/variables' as v;
@use '../../assets/mixins' as m;

.form__container {
    @include m.sectionStyle(v.$beige);
    flex-direction: column;

    & h2 {
        font-size: v.$size36;
    }

    & p {
        font-size: v.$size24;
        margin-top: v.$margin20;
    }

    & .row {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: v.$margin20;
    }

    & .col {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & .form__content{
        display: flex;
        flex-direction: column; 
        align-items: center;
        
        &--submit {
            font-weight: bold;
            background: v.$green;
            padding: 10px 50px;
            margin-top: v.$margin20;
            border-radius: 50px;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}