@use '../../assets/variables' as v;

.aboutMe {
    background-color: v.$green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: v.$margin50 200px;
    padding: 50px;
    border-radius: v.$radius50;
    box-shadow: v.$shadow;

    &__pic {
        border-radius: v.$radius50;
    }

    &__text {
        text-align:left;
        line-height: 1.6;

        & h1 {
            margin-bottom: v.$margin20;
        }
        & h2 {
            font-size: v.$size24;
            margin-bottom: v.$margin20;
        }

        & p {
            margin-bottom: v.$margin20;
        }

        & span {
            font-weight: bold;
        }
    }
}