@use '../../assets/variables' as v;

.aboutMe {
    background-color: v.$green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: v.$margin20 v.$margin50;
    padding: 50px 100px;
    border-radius: v.$radius50;
    box-shadow: v.$shadow;

    & .aboutMe__pic {
        border-radius: v.$radius50;
    }

    & .aboutMe__text {
        text-align:center;
        line-height: 1.6;
        width: 60%;

        & h1 {
            margin-bottom: v.$margin20;
        }
        & h2 {
            font-size: v.$size24;
            margin-bottom: v.$margin20;
        }

        & p {
            margin-bottom: v.$margin20;
        }

        & span {
            font-weight: bold;
        }
    }
}