@use '../../assets/variables' as v;
@use '../../assets/mixins' as m;

.aboutMe {
    @include m.sectionStyle(v.$green, 50px);
    justify-content: space-between;
    gap: 70px;

    &__pic {
        border-radius: v.$radius50;
    }

    &__text {
        text-align: left;
        line-height: 1.6;

        & h1 {
            margin-bottom: v.$margin20;
        }

        & h2 {
            font-size: v.$size24;
            margin-bottom: v.$margin20;
        }

        & p {
            margin-bottom: v.$margin20;
        }

        & span {
            font-weight: bold;
        }
    }
}