* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}