@use '../assets/variables' as v;

@mixin sectionStyle ($bg_color) {
    background-color: $bg-color;
    padding : 50px;
    display: flex;
    align-items: center;
    margin: 0 v.$margin200;
    border-radius: v.$radius50;
    box-shadow: v.$shadow;
}