@use '../assets/variables' as v;

@mixin sectionStyle ($bg_color, $padding) {
    background-color: $bg-color;
    padding : $padding;
    display: flex;
    align-items: center;
    margin: v.$margin50 v.$margin200;
    border-radius: v.$radius50;
    box-shadow: v.$shadow;
}