//COLOR//
$text-color : #2b2e47; //ou #08032a
$green : #D2FFBA;
$beige : #FFE4C4;
$shadow : 5px 5px 10px 4px #535353;

//SIZES//
$size24 : 24px;
$size36 : 36px;

//MARGIN//
$margin20: 20px;
$margin50: 50px;
$margin200: 200px;

// RADIUS//
$radius50 : 50px;