@use '../../assets/variables' as v;

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: v.$beige ;
    margin:v.$margin20;

    & .linkRS {
        font-size: v.$size36;
        display: flex;
        gap: 10px;
    }

    & .rocketAnimation {
        height: 150px;
        cursor: pointer;
    }
}